github "SnapKit/SnapKit"
github "yeahdongcn/UIColor-Hex-Swift"
github "malcommac/SwiftDate"
github "kishikawakatsumi/KeychainAccess"
github "ReactKit/SwiftTask" "swift/3.0"
github "sascha/DrawerController"
github "Hearst-DD/ObjectMapper"
github "icanzilb/SwiftSpinner"
github "pkluz/PKHUD"
github "teodorpatras/EasyTipView"
github "corin8823/Popover"
github "SwiftyJSON/SwiftyJSON"
github "raulriera/TextFieldEffects"
github "Alamofire/AlamofireImage"
github "vikmeup/SCLAlertView-Swift" "master"
github "krimpedance/KRProgressHUD"
github "dzenbot/DZNEmptyDataSet"
github "chenyunguiMilook/SwiftyXML"
