<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>code</key>
		<string>R001</string>
		<key>color</key>
		<string>E60012</string>
		<key>name</key>
		<string>和食全般</string>
	</dict>
	<dict>
		<key>code</key>
		<string>R002</string>
		<key>color</key>
		<string>F39800</string>
		<key>name</key>
		<string>懐石料理</string>
	</dict>
	<dict>
		<key>code</key>
		<string>R003</string>
		<key>color</key>
		<string>FFF100</string>
		<key>name</key>
		<string>割烹</string>
	</dict>
	<dict>
		<key>code</key>
		<string>R004</string>
		<key>color</key>
		<string>8FC31F</string>
		<key>name</key>
		<string>郷土料理</string>
	</dict>
	<dict>
		<key>code</key>
		<string>R005</string>
		<key>color</key>
		<string>009944</string>
		<key>name</key>
		<string>焼き鳥・鶏料理</string>
	</dict>
	<dict>
		<key>code</key>
		<string>R006</string>
		<key>color</key>
		<string>009E96</string>
		<key>name</key>
		<string>串焼き・串揚げ</string>
	</dict>
	<dict>
		<key>code</key>
		<string>R007</string>
		<key>color</key>
		<string>00A0E9</string>
		<key>name</key>
		<string>鍋料理</string>
	</dict>
	<dict>
		<key>code</key>
		<string>R008</string>
		<key>color</key>
		<string>0068B7</string>
		<key>name</key>
		<string>しゃぶしゃぶ</string>
	</dict>
	<dict>
		<key>code</key>
		<string>R009</string>
		<key>color</key>
		<string>1D2088</string>
		<key>name</key>
		<string>すき焼き</string>
	</dict>
	<dict>
		<key>code</key>
		<string>R010</string>
		<key>color</key>
		<string>920783</string>
		<key>name</key>
		<string>かに・えび・うに・海鮮料理</string>
	</dict>
	<dict>
		<key>code</key>
		<string>R011</string>
		<key>color</key>
		<string>E4007F</string>
		<key>name</key>
		<string>寿司</string>
	</dict>
	<dict>
		<key>code</key>
		<string>R012</string>
		<key>color</key>
		<string>E5004F</string>
		<key>name</key>
		<string>そば・うどん</string>
	</dict>
	<dict>
		<key>code</key>
		<string>R013</string>
		<key>color</key>
		<string>C7000B</string>
		<key>name</key>
		<string>とんかつ</string>
	</dict>
	<dict>
		<key>code</key>
		<string>R014</string>
		<key>color</key>
		<string>D28300</string>
		<key>name</key>
		<string>てんぷら</string>
	</dict>
	<dict>
		<key>code</key>
		<string>R015</string>
		<key>color</key>
		<string>DFD000</string>
		<key>name</key>
		<string>うなぎ</string>
	</dict>
	<dict>
		<key>code</key>
		<string>R016</string>
		<key>color</key>
		<string>7BAA17</string>
		<key>name</key>
		<string>お好み焼き・もんじゃ</string>
	</dict>
	<dict>
		<key>code</key>
		<string>R017</string>
		<key>color</key>
		<string>00873C</string>
		<key>name</key>
		<string>炭火焼</string>
	</dict>
	<dict>
		<key>code</key>
		<string>R018</string>
		<key>color</key>
		<string>009E96</string>
		<key>name</key>
		<string>炉ばた焼き・炙り焼き</string>
	</dict>
	<dict>
		<key>code</key>
		<string>R019</string>
		<key>color</key>
		<string>008DCB</string>
		<key>name</key>
		<string>豆腐料理</string>
	</dict>
	<dict>
		<key>code</key>
		<string>R020</string>
		<key>color</key>
		<string>005AA0</string>
		<key>name</key>
		<string>沖縄料理</string>
	</dict>
	<dict>
		<key>code</key>
		<string>R021</string>
		<key>color</key>
		<string>181878</string>
		<key>name</key>
		<string>和風創作料理</string>
	</dict>
	<dict>
		<key>code</key>
		<string>R022</string>
		<key>color</key>
		<string>800073</string>
		<key>name</key>
		<string>洋食全般</string>
	</dict>
	<dict>
		<key>code</key>
		<string>R023</string>
		<key>color</key>
		<string>C6006F</string>
		<key>name</key>
		<string>フランス料理</string>
	</dict>
	<dict>
		<key>code</key>
		<string>R024</string>
		<key>color</key>
		<string>C70044</string>
		<key>name</key>
		<string>イタリア料理</string>
	</dict>
	<dict>
		<key>code</key>
		<string>R025</string>
		<key>color</key>
		<string>EF845C</string>
		<key>name</key>
		<string>スペイン料理</string>
	</dict>
	<dict>
		<key>code</key>
		<string>R026</string>
		<key>color</key>
		<string>F9C270</string>
		<key>name</key>
		<string>メキシコ・中南米料理</string>
	</dict>
	<dict>
		<key>code</key>
		<string>R027</string>
		<key>color</key>
		<string>FFF67F</string>
		<key>name</key>
		<string>その他各国料理</string>
	</dict>
	<dict>
		<key>code</key>
		<string>R028</string>
		<key>color</key>
		<string>C1DB81</string>
		<key>name</key>
		<string>オムレツ・オムライス</string>
	</dict>
	<dict>
		<key>code</key>
		<string>R029</string>
		<key>color</key>
		<string>69BD83</string>
		<key>name</key>
		<string>洋風創作料理</string>
	</dict>
	<dict>
		<key>code</key>
		<string>R030</string>
		<key>color</key>
		<string>61C1BE</string>
		<key>name</key>
		<string>ピザ</string>
	</dict>
	<dict>
		<key>code</key>
		<string>R031</string>
		<key>color</key>
		<string>54C3F1</string>
		<key>name</key>
		<string>ステーキ</string>
	</dict>
	<dict>
		<key>code</key>
		<string>R032</string>
		<key>color</key>
		<string>6C9BD2</string>
		<key>name</key>
		<string>カレー・ハヤシライス</string>
	</dict>
	<dict>
		<key>code</key>
		<string>R033</string>
		<key>color</key>
		<string>796BAF</string>
		<key>name</key>
		<string>ハンバーグ</string>
	</dict>
	<dict>
		<key>code</key>
		<string>R034</string>
		<key>color</key>
		<string>BA79B1</string>
		<key>name</key>
		<string>にんにく料理</string>
	</dict>
	<dict>
		<key>code</key>
		<string>R035</string>
		<key>color</key>
		<string>EE87B4</string>
		<key>name</key>
		<string>パスタ</string>
	</dict>
	<dict>
		<key>code</key>
		<string>R036</string>
		<key>color</key>
		<string>EF858C</string>
		<key>name</key>
		<string>中華料理</string>
	</dict>
	<dict>
		<key>code</key>
		<string>R037</string>
		<key>color</key>
		<string>A40000</string>
		<key>name</key>
		<string>飲茶・餃子・点心</string>
	</dict>
	<dict>
		<key>code</key>
		<string>R038</string>
		<key>color</key>
		<string>AC6A00</string>
		<key>name</key>
		<string>ラーメン</string>
	</dict>
	<dict>
		<key>code</key>
		<string>R039</string>
		<key>color</key>
		<string>B7AA00</string>
		<key>name</key>
		<string>韓国料理</string>
	</dict>
	<dict>
		<key>code</key>
		<string>R040</string>
		<key>color</key>
		<string>638C0B</string>
		<key>name</key>
		<string>焼肉・ホルモン・ジンギスカン</string>
	</dict>
	<dict>
		<key>code</key>
		<string>R041</string>
		<key>color</key>
		<string>007130</string>
		<key>name</key>
		<string>タイ料理</string>
	</dict>
	<dict>
		<key>code</key>
		<string>R042</string>
		<key>color</key>
		<string>00736D</string>
		<key>name</key>
		<string>ベトナム料理</string>
	</dict>
	<dict>
		<key>code</key>
		<string>R043</string>
		<key>color</key>
		<string>0075A9</string>
		<key>name</key>
		<string>その他アジア料理</string>
	</dict>
	<dict>
		<key>code</key>
		<string>R044</string>
		<key>color</key>
		<string>100964</string>
		<key>name</key>
		<string>無国籍・多国籍料理</string>
	</dict>
	<dict>
		<key>code</key>
		<string>R045</string>
		<key>color</key>
		<string>6A005F</string>
		<key>name</key>
		<string>ケーキ・デザート</string>
	</dict>
	<dict>
		<key>code</key>
		<string>R046</string>
		<key>color</key>
		<string>A4005B</string>
		<key>name</key>
		<string>ハンバーガ・サンドイッチ・パン</string>
	</dict>
	<dict>
		<key>code</key>
		<string>R047</string>
		<key>color</key>
		<string>A40035</string>
		<key>name</key>
		<string>ふぐ・てっちり</string>
	</dict>
	<dict>
		<key>code</key>
		<string>R048</string>
		<key>color</key>
		<string>F5B090</string>
		<key>name</key>
		<string>鉄板焼き</string>
	</dict>
	<dict>
		<key>code</key>
		<string>R049</string>
		<key>color</key>
		<string>FCD7A1</string>
		<key>name</key>
		<string>おでん</string>
	</dict>
	<dict>
		<key>code</key>
		<string>R050</string>
		<key>color</key>
		<string>FFF9B1</string>
		<key>name</key>
		<string>丼もの</string>
	</dict>
	<dict>
		<key>code</key>
		<string>R051</string>
		<key>color</key>
		<string>A2D7D4</string>
		<key>name</key>
		<string>たこ焼き・焼きそば</string>
	</dict>
	<dict>
		<key>code</key>
		<string>R052</string>
		<key>color</key>
		<string>9FD9F6</string>
		<key>name</key>
		<string>地中海料理</string>
	</dict>
	<dict>
		<key>code</key>
		<string>R053</string>
		<key>color</key>
		<string>A3BCE2</string>
		<key>name</key>
		<string>シーフード</string>
	</dict>
	<dict>
		<key>code</key>
		<string>R054</string>
		<key>color</key>
		<string>F5B2B2</string>
		<key>name</key>
		<string>チーズフォンデュ</string>
	</dict>
	<dict>
		<key>code</key>
		<string>R055</string>
		<key>color</key>
		<string>FBDAC8</string>
		<key>name</key>
		<string>シチュー・スープ</string>
	</dict>
	<dict>
		<key>code</key>
		<string>R056</string>
		<key>color</key>
		<string>FEECD2</string>
		<key>name</key>
		<string>バーベキュー</string>
	</dict>
	<dict>
		<key>code</key>
		<string>R057</string>
		<key>color</key>
		<string>ECF4D9</string>
		<key>name</key>
		<string>広東料理</string>
	</dict>
	<dict>
		<key>code</key>
		<string>R058</string>
		<key>color</key>
		<string>D5EAD8</string>
		<key>name</key>
		<string>北京料理</string>
	</dict>
	<dict>
		<key>code</key>
		<string>R059</string>
		<key>color</key>
		<string>D4ECEA</string>
		<key>name</key>
		<string>四川料理</string>
	</dict>
	<dict>
		<key>code</key>
		<string>R060</string>
		<key>color</key>
		<string>D3EDFB</string>
		<key>name</key>
		<string>上海料理</string>
	</dict>
	<dict>
		<key>code</key>
		<string>R061</string>
		<key>color</key>
		<string>D3DEF1</string>
		<key>name</key>
		<string>台湾料理</string>
	</dict>
	<dict>
		<key>code</key>
		<string>R062</string>
		<key>color</key>
		<string>E7D5E8</string>
		<key>name</key>
		<string>ビビンバ・冷麺・チゲ</string>
	</dict>
	<dict>
		<key>code</key>
		<string>R063</string>
		<key>color</key>
		<string>FADCE9</string>
		<key>name</key>
		<string>インド料理</string>
	</dict>
	<dict>
		<key>code</key>
		<string>R064</string>
		<key>color</key>
		<string>FADBDA</string>
		<key>name</key>
		<string>チャーハン</string>
	</dict>
</array>
</plist>
